 html, body {
            
      margin: 0;
      padding: 2%;
    }

   
.text1
{
    padding: 20px ;
    margin: 10px ;
    border: 2px ;
    text-align: center;
    line-height: 1.5;
    font-size: 15px ;
    color: gray;
}
.divs
{
    width: 100% ;
   
    
}
.div
{
  float: left;
  width: calc(25% - 60px);     
  height: 100px;
  padding: 20px;
  margin: 10px;
  background: #676666;
  line-height: 100px;
    text-align: center;
}
.clear
{
    clear: both ;
}
.line
{
   padding: 10px ;
    margin: 20px 0 ;
    float: right;
     color: rgb(255, 115, 0);
    margin: 0 1.66% ;
    font-size: 20px ;
    text-decoration: underline;
}
hr
{
 border: 1px solid rgb(93, 93, 93) ;
margin: 20px 0 ;
    
}
.boxs {
  width: 100%;
  
}

.card {
  width: 23%;       
  margin: 1%;       
  float: left;
  height: 150px;
  
  
}

.box {
  padding: 10px;
  overflow: hidden; 
  margin-bottom: 5px;
}

.smallbox {
  width: 40px;
  height: 40px;
  background: #000000;
  float: left;
  margin-right: 6px;
  font-size: 12px;
    color: #ffffff;
    line-height: 40px;

}

.text-right {
  font-size: 20px;
  float: right;
  margin-bottom: 8px;
  color: #474747;
}

.read-more {
  float: right;
  clear: both;       
  margin-top: 4px;
  color: rgb(255, 115, 0);
  cursor: pointer;
}

.clear {
  clear: both;
}